Source: kxmlgui
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 1.6.0),
               libkf5attica-dev (>= 5.7.0),
               libkf5config-dev (>= 5.7.0),
               libkf5configwidgets-dev (>= 5.7.0),
               libkf5globalaccel-dev (>= 5.7.0),
               libkf5i18n-dev (>= 5.7.0),
               libkf5iconthemes-dev (>= 5.7.0),
               libkf5itemviews-dev (>= 5.7.0),
               libkf5textwidgets-dev (>= 5.7.0),
               libkf5widgetsaddons-dev (>= 5.7.0),
               libkf5windowsystem-dev (>= 5.7.0),
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kxmlgui
XS-Testsuite: autopkgtest
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/frameworks/kxmlgui.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/frameworks/kxmlgui.git

Package: libkf5xmlgui-dev
Section: libdevel
Architecture: any
Depends: libkf5attica-dev,
         libkf5config-dev,
         libkf5configwidgets-dev,
         libkf5globalaccel-dev,
         libkf5iconthemes-dev,
         libkf5itemviews-dev,
         libkf5textwidgets-dev,
         libkf5windowsystem-dev,
         libkf5xmlgui5 (= ${binary:Version}),
         qtbase5-dev,
         ${misc:Depends},
         ${shlibs:Depends}
Description: User configurable main windows.
 framework for designing the user interface
 of an application using XML, using the idea
 of actions.
 .
 Contains development files for kxmlgui.

Package: libkf5xmlgui-bin
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: User configurable main windows.
 framework for designing the user interface
 of an application using XML, using the idea
 of actions.
 .
 This package contains the runtime files.

Package: libkf5xmlgui-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: User configurable main windows.
 framework for designing the user interface
 of an application using XML, using the idea
 of actions.
 .
 This package contains the data files.

Package: libkf5xmlgui5
Architecture: any
Multi-Arch: same
Depends: libkf5xmlgui-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: libkf5xmlgui-bin (= ${binary:Version})
Description: User configurable main windows.
 framework for designing the user interface
 of an application using XML, using the idea
 of actions.

Package: libkf5xmlgui5-dbg
Priority: extra
Section: debug
Architecture: any
Depends: libkf5xmlgui5 (= ${binary:Version}), ${misc:Depends}
Recommends: libkf5xmlgui-bin (= ${binary:Version})
Description: User configurable main windows.
 framework for designing the user interface
 of an application using XML, using the idea
 of actions.
 .
 Contains debug symbols for kxmlgui.
